@import "../../assets/css/variables.scss";

.UserPage {
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    h2 {
      color: $third-color;
      margin-bottom: 0;
    }

    .userIcon {
      width: 100px;
      height: auto;
    }
  }

  .favoriteBooks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;

    .noFavBooks {
      width: 90%;
      background-color: $bg-color;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      margin-top: 30px;

      .text {
        color: $third-color;
        text-align: center;

        .highlight {
          color: $fourth-color;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .favoriteBooks {
    margin-top: 80px;
  }
}
