@import "../../assets/css/variables.scss";

.Book {
  .backBtn {
    border-radius: 100%;
    border: none;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 10px;

    .backIcon {
      width: 2.2rem;
      height: 2.2rem;
      color: $fourth-color;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
        color: $primary-color;
      }
    }
  }

  .singleBook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .wrapper {
      width: 100%;
      height: 100%;
      margin: 0 20px 0 20px;
      // border: 2px solid red;
    }

    .mainInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image {
        border-radius: 20px;
      }

      .title {
        margin-bottom: 0;
        color: $fourth-color;
      }

      .author {
        margin-top: 10px;
        color: $primary-color;
      }

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $bg-color;
        border-radius: 50px;

        .outOfFive,
        .pages {
          font-size: 0.8rem;
        }
      }
    }
    .sentence {
      padding: 0 20px;
      margin-top: 20px;

      .quote {
        font-size: 2.5rem;
        margin-right: 5px;
        color: $primary-color;
      }
    }
  }
}
