@import "../../assets/css/variables.scss";

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100px;
  width: auto;
}

.Book {
  .backBtn {
    border-radius: 100%;
    border: none;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 10px;

    .backIcon {
      width: 2.2rem;
      height: 2.2rem;
      color: $fourth-color;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
        color: $primary-color;
      }
    }
  }

  .singleBook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    .wrapper {
      width: 100%;
      height: 100%;
      margin: 0 20px 0 20px;
      padding: 15px 0;
      border-radius: 50px;
      background-color: $bg-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .mainInfo {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image {
        border-radius: 20px;
        box-shadow: 5px 10px 5px rgba(#000000, 0.3);
      }

      .title {
        margin-bottom: 0;
        color: $fourth-color;
        text-align: center;
      }

      .author {
        margin-top: 10px;
        color: $primary-color;
      }

      .favoriteIcon {
        position: absolute;
        height: 2rem;
        top: 25px;
        left: 5px;
        width: auto;
        color: $primary-color;
      }

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        border-radius: 50px;

        .outOfFive,
        .pages {
          font-size: 0.8rem;
        }
      }
    }
    .sentence {
      padding: 0 20px;
      margin-top: 20px;

      .introTitle {
        font-size: 1.2rem;
        color: $fourth-color;
        margin: 0;
      }

      .quote {
        font-size: 2.5rem;
        margin-right: 5px;
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 70%;

    .mainInfo {
      width: 80%;
    }
  }
}
